.navbar {
    width: 100vw;
    height: 10vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: rgb(238,174,174);
    background: radial-gradient(circle, rgba(238,174,174,1) 0%, rgba(241,0,228,1) 100%);
    padding: 0 10%;
    position: fixed;
    z-index: 150;
}

.menu {
    margin-left: auto;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    padding:  20px;
    text-transform: uppercase;
    user-select: none;

}

.brand {
    font-size: 2rem;
    font-weight: bolder;
    padding: 0 20px;
    cursor: pointer;
    user-select: none;

}

.present_to_all {
    user-select: none;
    cursor: pointer;
}

.keyboard_arrow_down {
    cursor: pointer;
    user-select: none;
}
  
